* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background-color: #efebe1;
}

header {
  background-color: #3b3937;
  width: 100%;
  height: 100px;
  display: flex;
  position: fixed;
}

.innerHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  margin: 10px;
}

.menuOverlay {
  display: none;
  margin-top: 100px;
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  background-color: #3b393743;
  backdrop-filter: blur(5px);
}

.menuOverlay.show {
  display: block;
}

.menuList li {
  list-style: none;
}

.menuList li a {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #3b3937;
  font-weight: 600;
}

.menuList li a:hover {
  background-color: #3b3937;
  color: #26c208;
}

.menu {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bigMenu {
  display: none;
  margin-right: 30px;
}

.bigMenu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  list-style: none;
}

.bigMenu a {
  text-decoration: none;
  color: #26c208;
  font-weight: 600;
  font-size: 18px;
}

.bigMenu a:hover {
  text-decoration: underline;
}

#menuBtn {
  background-color: #3b3937;
  border: none;
  font-size: 60px;
  font-weight: 500;
  color: #26c208;
  padding: 10px;
  padding-top: 0px;
  line-height: 1;
  cursor: pointer;
}

.logo {
  align-self: center;
}

/*------------------------------------------------------------------------*/

/*- Her starter alt indhold ----------------------------------------------*/

/*------------------------------------------------------------------------*/

.content {
  width: 100%;
  padding-top: 100px;
}

.indexBanner {
  background-color: #ffffff;
  height: 246px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.indexInnerBan {
  height: 100%px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.indexInnerBan a {
  background-color: #efebe1;
  color: #26c208;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  align-self: flex-end;
  padding: 10px;
  width: 100px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  border-radius: 25px;
}

.indexInnerBan p {
  margin-left: 20px;
  margin-top: 20px;
  width: 60%;
  color: #1f9c07;
  font-size: 20px;
  font-weight: 600;
}

.indexText {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
  padding-bottom: 20%;
}

.indexInnerTxt {
  width: 80%;
}

.indexInnerTxt p {
  color: #1f9c07;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 24px;
}

.indexVideos {
  background-color: #3b3937;
  padding-top: 5%;
  padding-bottom: 5%;
}

.indexInnerVid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indexInnerVid h2 {
  width: 90%;
  align-self: center;
  color: #26c208;
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
}

.indexVidDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.indexVidName {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.indexVidName h3 {
  margin-top: 5%;
  font-size: 16px;
  font-weight: 600;
  color: #26c208;
}

.indexVidName video {
  width: 100%;
}

.indexSponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
  height: 500px;
}

.indexSponsor h2 {
  width: 90%;
  color: #26c208;
  font-size: 18px;
  margin-bottom: 5%;
}

.indexInnerSpons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  height: 90%;
}

.indexInnerSpons a:hover {
  filter: grayscale(1) blur(1px);
}

.indexInnerSpons img {
  width: 100%;
  border-radius: 25px;
}

.indexContact {
  background-color: #3b3937;
}

.indexInnerCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.indexInnerCon h2 {
  width: 80%;
  color: #26c208;
  font-size: 18px;
  margin-bottom: 20px;
  align-self: center;
}

.indexForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.indexForm h3 {
  font-size: 18px;
  font-weight: 500;
  color: #26c208;
  margin-bottom: 5px;
}
.indexName,
.indexMail {
  height: 23px;
  margin-bottom: 10px;
  border: none;
  width: 80%;
  padding: 3px;
}

.indexForm textarea {
  margin-bottom: 20px;
  border: none;
  padding: 3px;
}

.indexSub {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  color: #26c208;
  background-color: #efebe1;
  cursor: pointer;
}

/*------------------------------------------------------------------------*/

/*- Her slutter alt indhold ----------------------------------------------*/

/*------------------------------------------------------------------------*/

footer {
  background-color: #49301f;
  width: 100%;
  height: 222px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #26c208;
  font-weight: 600;
  font-size: 16px;
}

/*------------------------------------------------------------------------*/

/*--- Fra mobile til ipad ------------------------------------------------*/

/*------------------------------------------------------------------------*/

@media screen and (min-width: 550px) {
  .menu {
    display: none;
  }

  .bigMenu {
    display: flex;
  }

  .indexInnerBan p {
    font-size: 30px;
  }

  .indexText {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .indexInnerSpons {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .indexInnerSpons a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .indexInnerSpons img {
    width: 70%;
  }
}

/*------------------------------------------------------------------------*/

/*--- Fra ipad til desktop -----------------------------------------------*/

/*------------------------------------------------------------------------*/

@media screen and (min-width: 700px) {
  .indexVidDetails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .indexVidName {
    width: 30%;
    margin: 1%;
  }

  .indexVidName video {
    width: 100%;
  }

  .indexInnerVid h2 {
    width: 79%;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .indexBanner {
    height: 400px;
  }

  .indexInnerBan {
    width: 700px;
  }

  .indexInnerBan p {
    margin-top: 30px;
    font-size: 40px;
  }

  .indexSponsor {
    padding: 0px;
  }

  .indexSponsor h2 {
    width: 79%;
    margin-top: 5%;
    margin-bottom: 0px;
  }

  .indexInnerSpons {
    width: 700px;
  }

  .indexContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .indexInnerCon {
    width: 700px;
  }
}

/*------------------------------------------------------------------------*/

/*--- stopklods ----------------------------------------------------------*/

/*------------------------------------------------------------------------*/

@media screen and (min-width: 1200px) {
  .indexVidDetails {
    width: 1200px;
  }
}
