* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #efebe1;
  line-height: 1.6;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-size: 25px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

/*Bruges til tekst lige efter h1*/
.introtekst {
  font-size: 20px;
}

header {
  background-color: #3b3937;
  width: 100%;
  height: 100px;
  display: flex;
  position: fixed;
  z-index: 10;
}

.innerHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  margin: 10px;
}

.menuOverlay {
  display: none;
  margin-top: 100px;
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  background-color: #3b3937;
}

.menuOverlay.show {
  display: block;
}

.menuList li {
  list-style: none;
}

.menuList li a {
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #26c208;
  font-size: 30px;
  font-weight: 600;
}

.menuList li a:hover {
  background-color: #1f9c07;
  color: #3b3937;
}

.menu {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bigMenu {
  display: none;
  margin-right: 30px;
}

.bigMenu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  list-style: none;
}

.bigMenu a {
  text-decoration: none;
  color: #26c208;
  font-size: 18px;
}

.bigMenu a:hover {
  text-decoration: underline;
}

#menuBtn {
  background-color: #3b3937;
  border: none;
  font-size: 60px;
  font-weight: 500;
  color: #26c208;
  padding: 10px;
  padding-top: 0px;
  cursor: pointer;
}

.logo {
  align-self: center;
  margin-left: 10px;
}

.logo img {
  width: 60px;
}

/*------------------------------------------------------------------------*/

/*- Her starter alt indhold ----------------------------------------------*/

/*------------------------------------------------------------------------*/

.content {
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

/*------------------------------------------------------------------------*/

/*- Her starter alt til index --------------------------------------------*/

/*------------------------------------------------------------------------*/

.indexBanner {
  background-color: rgba(15, 15, 15, 0.7);
  background-blend-mode: darken;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.indexInnerBan {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(15, 15, 15, 0.7);
  background-blend-mode: darken;
  background-image: url("media/img/banner.jpg");
  background-size: cover;
  background-position: -50px;
}

.indexInnerBan a {
  background-color: #efebe1;
  color: #1f9c07;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  align-self: flex-end;
  padding: 10px;
  width: 100px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  border-radius: 25px;
}

.indexInnerBan a:hover {
  background-color: #26c208;
  color: #efebe1;
}

.indexInnerBan p {
  margin-left: 20px;
  margin-top: 20px;
  width: 60%;
  color: #efebe1;
  font-size: 20px;
  font-weight: 600;
}

.indexText {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 0;
}

.indexInnerTxt {
  width: 80%;
  max-width: 800px;
  color: #1f9c07;
  text-align: center;
}

.indexVideos {
  background-color: #3b3937;
  padding: 4% 0;
}

.indexInnerVid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indexInnerVid h2 {
  width: 90%;
  align-self: center;
  color: #26c208;
  margin: 30px;
}

.indexVidDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.indexVidName {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.indexVidName h3 {
  margin-top: 5%;
  color: #26c208;
}

.indexVidName video {
  width: 100%;
}

.indexSponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10% 0;
  height: 500px;
}

.indexSponsor h2 {
  width: 90%;
  color: #1f9c07;
  margin-bottom: 5%;
}

.indexInnerSpons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  height: 90%;
}

.indexInnerSpons img {
  width: 100%;
  border-radius: 25px;
}

.indexContact {
  background-color: #3b3937;
}

.indexInnerCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.indexInnerCon h2 {
  width: 80%;
  color: #26c208;
  margin-bottom: 20px;
  align-self: center;
}

.indexForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.indexForm h3 {
  font-weight: 500;
  color: #26c208;
  margin-bottom: 5px;
}
.indexName,
.indexMail {
  height: 23px;
  margin-bottom: 10px;
  border: none;
  width: 80%;
  padding: 3px;
}

.indexForm textarea {
  margin-bottom: 20px;
  border: none;
  padding: 3px;
}

.indexSub {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  color: #1f9c07;
  background-color: #efebe1;
  cursor: pointer;
}

.indexSub:hover {
  background-color: #26c208;
  color: #efebe1;
}

/*------------------------------------------------------------------------*/

/*- Her slutter alt til index --------------------------------------------*/

/*------------------------------------------------------------------------*/
/**/
/**/
/**/
/*------------------------------------------------------------------------*/

/*- Her starter alt til kategori -----------------------------------------*/

/*------------------------------------------------------------------------*/

.kategori-boks1 {
  background-color: rgba(24, 24, 24, 0.7);
  background-blend-mode: darken;
  padding-top: 100px;
  position: relative;
  color: white;
  height: 400px;
  background-image: url("media/img/pageimg/kategorierimg.png");
  background-size: cover;
}

.kategori-header-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #efebe1;
}

.pc-couple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kategori-minibox-left {
  width: 100%;
}

.kategori-minibox-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.kategori-boks2 {
  margin: 100px 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kategori-text-dark {
  color: #1f9c07;
  text-align: center;
  width: 60%;
  max-width: 700px;
}

.kategori-text-light {
  display: flex;
  margin: auto;
  color: #26c208;
}

.kategori-boks-liste {
  background-color: #3b3937;
  padding: 30px 0;
  width: 100%;
}

.kategori-boks-liste p {
  width: 100%;
}

.kategori-img {
  margin-left: 10px;
  padding-right: 10px;
  display: flex;
  margin: 30px auto;
  width: 80%;
}

.kategori-button-text {
  background-color: #efebe1;
  color: #1f9c07;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  width: 100px;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  border-radius: 25px;
  align-self: flex-start;
  margin-top: 20px;
}

.kategori-button-text:hover {
  background-color: #26c208;
  color: #efebe1;
}

/*------------------------------------------------------------------------*/

/*- Her slutter alt til kategori -----------------------------------------*/

/*------------------------------------------------------------------------*/
/**/
/**/
/**/
/*------------------------------------------------------------------------*/

/*- Her starter alt til tutorial og learning -----------------------------*/

/*------------------------------------------------------------------------*/
.learning {
  height: 500px;
  background-color: rgba(15, 15, 15, 0.7);
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("media/img/pageimg/laeringimg.png");
  background-size: cover;
}

.tutorial {
  height: 500px;
  background-color: rgba(15, 15, 15, 0.7);
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("media/img/pageimg/tutorialsimg.png");
  background-size: cover;
}

.learning h1 {
  color: #efebe1;
}

.tutorial h1 {
  color: #efebe1;
}

/* Her styler vi beskrivelsen af kategorien */
.tutorialbeskrivelse {
  background-color: #efebe1;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.tutorialbeskrivelse p {
  color: #1f9c07;
  text-align: center;
  max-width: 600px;
}
/* Her styler vi baggrunden der ligger fra v. til h. i hele længden bag videoerne */
.baggrundtut {
  background-color: #3b3937;
  padding-bottom: 50px;
}
/* Her styler vi hvor videoerne skal være og hvor store boksne skal være */
.tutorialvideoer div {
  background-color: #3b3937;
  justify-content: center;
  display: grid;
}

.tutvideo1,
.tutvideo2,
.tutvideo3,
.tutvideo4 {
  margin: 20px 30px;
}

/* Her styler vi udseendet af teksten */
.tut-tekst {
  margin-top: 15px;
}

.tut-tekst h3 {
  color: #26c208;
  text-align: center;
}

.tut-tekst p {
  color: #26c208;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}
/* Her styler vi hvordan samarbejdspartner skal ligge */
.tutorialpartner div {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* Her styler vi billederne af samarbejdspartner */
.imgPartner a {
  margin: 20px 30px;
}

.imgPartner img {
  border-radius: 25px;
}
/*------------------------------------------------------------------------*/

/*- Her slutter alt til tutorial og learning -----------------------------*/

/*------------------------------------------------------------------------*/
/**/
/**/
/**/
/*------------------------------------------------------------------------*/

/*- Her starter alt til kontakt ------------------------------------------*/

/*------------------------------------------------------------------------*/

.contBanner {
  height: 400px;
  background-color: rgba(15, 15, 15, 0.7);
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("media/img/pageimg/kontaktimg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -100px;
}

.contBanner h1 {
  color: #efebe1;
}

.about {
  width: 90%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}

.about,
.contact {
  margin-top: 40px;
  margin-bottom: 50px;
}

.about h2 {
  display: block;
  width: 90%;
  margin-bottom: 15px;
  color: #1f9c07;
  align-self: center;
}

.about p {
  width: 90%;
  margin-bottom: 15px;
  color: #1f9c07;
}

.contContact {
  background-color: #3b3937;
}

.contInnerCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 0;
}

.contInnerCon h2 {
  width: 80%;
  color: #26c208;
  margin-bottom: 20px;
  align-self: center;
}

.contForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.contForm h3 {
  font-weight: 500;
  color: #26c208;
  margin: 10px 0 5px 0;
}
.contName,
.contMail {
  height: 23px;
  margin-bottom: 10px;
  border: none;
  width: 80%;
  padding: 3px;
}

.contForm textarea {
  margin-bottom: 20px;
  border: none;
  padding: 3px;
}

.contSub {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 25px;
  color: #26c208;
  background-color: #efebe1;
  cursor: pointer;
}

.contSub:hover {
  background-color: #26c208;
  color: #efebe1;
}

/*------------------------------------------------------------------------*/

/*- Her slutter alt til kontakt-------------------------------------------*/

/*------------------------------------------------------------------------*/
/**/
/**/
/**/
/*------------------------------------------------------------------------*/

/*- Her slutter alt indhold ----------------------------------------------*/

/*------------------------------------------------------------------------*/

footer {
  background-color: #49301f;
  width: 100%;
  height: 222px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #26c208;
  font-size: 16px;
}

/*------------------------------------------------------------------------*/

/*--- Fra mobile til ipad ------------------------------------------------*/

/*------------------------------------------------------------------------*/

@media screen and (min-width: 550px) {
  .menu {
    display: none;
  }

  .bigMenu {
    display: flex;
  }

  .indexText {
    padding: 6% 0;
    width: 70%;
    align-self: center;
  }

  .indexInnerSpons {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .indexInnerSpons a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .indexInnerSpons img {
    width: 70%;
  }

  .kategori-minibox-right p {
    margin-top: 40px;
  }

  .contBanner {
    background-position: 0px;
  }
}

/*------------------------------------------------------------------------*/

/*--- Fra ipad til desktop - 700px, 800 px og 940px ----------------------*/

/*------------------------------------------------------------------------*/

@media screen and (min-width: 700px) {
  .indexVidDetails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .indexVidName {
    width: 30%;
    margin: 1%;
  }

  .indexVidName video {
    width: 100%;
  }

  .indexInnerVid h2 {
    width: 79%;
    align-self: center;
    margin: 10px 0 30px 0;
  }

  .indexBanner {
    height: 500px;
    background-image: url("media/img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .indexInnerBan {
    width: 700px;
    background-image: none;
    background-color: transparent;
  }

  .indexInnerBan p {
    margin-top: 30px;
    font-size: 40px;
  }

  .indexSponsor {
    padding: 0;
  }

  .indexSponsor h2 {
    width: 79%;
    margin: 5% 0 0 0;
  }

  .indexInnerSpons {
    width: 700px;
  }

  .indexContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .indexInnerCon {
    width: 700px;
  }

  .pc-couple {
    flex-direction: column;
  }

  .kategori-img {
    width: 100%;
  }

  .kategori-minibox-left {
    width: 50%;
  }

  .kategori-minibox-right {
    width: 50%;
    max-width: 500px;
  }

  .kategori-button-text {
    margin-top: 40px;
  }

  .contContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contInnerCon {
    width: 700px;
  }
}

@media screen and (min-width: 800px) {
  /* Her styler vi af videoerne skal være ved siden af hinanden */
  .tutorialvideoer div {
    display: flex;
    align-items: center;
  }
  /* Her styler vi støttelsen på padding rundt om videoerne */
  .tutvideo1 video {
    padding: 15px;
  }
  .tutvideo2 video {
    padding: 15px;
  }
  .tutvideo3 video {
    padding: 15px;
  }
  .tutvideo4 video {
    padding: 15px;
  }
  /* Her styler vi hvordan videoerne skal være placeret i forhold til videoen */
  .tutvideo1 {
    display: flex;
    background-color: #3b3937;
    flex-direction: column;
    align-items: center;
  }
  .tutvideo2 {
    display: flex;
    background-color: #3b3937;
    flex-direction: column;
    align-items: center;
  }
  .tutvideo3 {
    display: flex;
    background-color: #3b3937;
    flex-direction: column;
    align-items: center;
  }
  .tutvideo4 {
    display: flex;
    background-color: #3b3937;
    flex-direction: column;
    align-items: center;
  }
  /* Her placerer vi teksten under videoen */
  .tut-tekst {
    flex-direction: column;
  }
}

@media screen and (min-width: 940px) {
  /* kategori siden */
  .pc-couple {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .kategori-minibox-right {
    align-self: flex-start;
    width: 40%;
  }
}

/*------------------------------------------------------------------------*/

/*--- stopklods ----------------------------------------------------------*/

/*------------------------------------------------------------------------*/

@media screen and (min-width: 1200px) {
  .indexVidDetails {
    width: 1200px;
  }
}
